.chat-main__message-list__contents{data: {message: {id: message.id}}}
  .chat-main__message-list__contents__info
    .chat-main__message-list__contents__info--member-name
      = message.user.name
    .chat-main__message-list__contents__info--date-and-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__contents--message
    - if message.content.present?
      %p.chat-main__message-list__contents--message-content
        = message.content
    = image_tag message.image.url, class: 'chat-main__message-list__contents--message-image' if message.image.present?